* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #fff;
  color: #333;
}

.container {
  background: linear-gradient(to right, rgb(58, 2, 2), rgb(236, 115, 115));

}

.content-div {
  border-style: none;
  overflow: hidden;
  box-shadow: 10px 10px 10px 10px #2c2c2c;
  background-color: white;
}

header {
  display: flex;
  align-items: end;
  justify-content: space-between;
  color: black;
}

.logo {
  margin-left: 30px;
  margin-top: 10px;
}

#dg-logo {
  height: 60px;
  width: 100px;
  border-radius: 5px;
  margin-right: 5px;
}

header p {
  font-size: 30px;
  display: flex;
  align-items: start;
}

.nav-button {
  align-self: center;
}

nav {
  display: flex;
  gap: 5px;
  font-size: 20px;
  margin: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 600;
  padding: 5px 10px;
  border: 2px solid transparent;
  font-style: initial;
  transition: 0.7s;
  background-color: black;
}

nav a.active {
  border-bottom: 4px solid rgb(255, 0, 0);
}

nav a:hover {
  border-bottom: 4px solid rgb(255, 0, 0);
  color: black;
  background-color: white;
  transform: scale(1.1);
}


.hero {
  background-image: url('dd-background.jpg');
  background-repeat: no-repeat;
  background-size: 130% 130%;
  background-position: center center;
  animation: shrink 15s infinite alternate;
  height: 600px;
  text-align: center;
  color: rgb(255, 255, 255);
}

@keyframes shrink {
  0%{
    background-size: 130% 130%;
    background-image: url('dd-background.jpg');
  }
  25% {
    background-size: 100% 100%;
    background-image: url('dd-background.jpg');
  }
  50% {
    background-size: 130% 130%;
    background-image: url('dg-background.jpg');
  }
  100% {
    background-size: 130% 130%;
    
  }

}

.dd-welcome {
  padding: 70px 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hero h2 {
  letter-spacing: 1.5rem;
  text-transform: uppercase;
}
.hero h1 {
  font-size: 3rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: red;
}

#company-name {
  transform: rotateY(0deg);
    transform-style: preserve-3d;
    animation: spin-3d 4s infinite linear;
}

@keyframes spin-3d {
  0% {
      transform: rotateY(0deg);
  }
  100% {
      transform: rotateY(360deg);
  }
}

.btn-view-more {
  padding: 10px;
  margin-top: 10px;
  background-color: rgba(255, 255, 255);
  border: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 5px;
  transition: 1s;
}

.btn-view-more:hover {
  background-color: rgb(255, 255, 255, 0);
  border: 1px black solid;
  color: white;
}

.hero p {
  max-width: 600px;
  margin: 0 auto 20px;
  line-height: 1.6;
}

.bottom-part {
  background: white;
}

.section-intro {
  text-align: center;
  padding: 60px 20px 40px;
  border-bottom-style: solid;
  border-bottom-color: rgb(255, 255, 255);
  margin-left: 20%;
  margin-right: 20%;
  height: auto;
  color: black;
}

.section-intro h3 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}
.section-intro p {
  max-width: 600px;
  margin: 0 auto;
}

.about-us-home {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 500px;
  background-color: rgb(255, 255, 255, 0.7);
}

.about-us-message {
  margin-bottom: 20px;
  border-bottom: 2px red solid;
  padding: 5px;
  font-size: 17px;
  display: flex;
}

.about-us-title {
  width: 20%;
  align-items: center;
  padding: 70px 0;
}

.about-message {
  text-align: justify;
  padding: 20px;
  border-left: 0.8px solid rgb(0, 0, 0, 0.1);
  border-right: 0.8px solid rgb(0, 0, 0, 0.1);
  border-bottom: 0.8px solid rgb(0, 0, 0, 0.1);
  border-radius: 20px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}

.about-us-message h2 {
  color: rgb(255, 0, 0);
}

.mission-vission {
  display: flex;
}

.mission-icon, .vission-icon {
  margin-bottom: 20px;
  color: rgb(255, 0, 0);
  font-size: 30px;
  margin-top: 20px;
}

.mission, .vission {
  text-align: justify;
  padding: 10px;
  font-size: 17px;
  padding: 20px;
  border-left: 0.8px solid rgb(0, 0, 0, 0.1);
  border-right: 0.8px solid rgb(0, 0, 0, 0.1);
  border-bottom: 0.8px solid rgb(0, 0, 0, 0.1);
  border-radius: 20px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.vission {
  margin-left: 20px;
}

.open-bg {
  width: 100%;
  height: 500px;
  background-position: center;
  background-size: 100% 100%;
  background-image: url('page-background.jpg');
  background-attachment: fixed;
}

.transparent-plate {
  width: 100%;
  background: linear-gradient(to right, rgb(255, 0, 0), rgb(83, 4, 4), rgb(235, 0, 0));
  height: 100%;
  opacity: 0.6;
}


.services-section {
  text-align: center;
  padding: 60px 20px 40px;
  border-bottom-style: solid;
  border-bottom-color: rgb(255, 255, 255);
  margin-left: 10%;
  margin-right: 10%;
}

.services-grid {
  display: grid;
  grid-template-rows: auto auto;
}

.service-title {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
}

.service-message-title {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
}

.services-card-grid {
  display: grid;
  gap: 30px;
  grid-template-columns: 50% 50%;
  margin-top: 20px;
}

.service-card {
  display: flex;
  text-align: justify;
  column-gap: 10px;
  border-left: 0.5px solid rgb(0, 0, 0, 0.1);
  border-right: 0.5px solid rgb(0, 0, 0, 0.1);
  border-bottom: 0.5px solid rgb(0, 0, 0, 0.1);
  border-top: none;
  box-shadow: 0.5px 0.5px 0.5px 0.5px rgb(0, 0, 0, 0.2);
  padding: 25px;
  border-radius: 10px;
  transition: 0.5s;
}

.service-card:hover {
  transform: scale(1.0);
  box-shadow: 1px 4px 1px 1px rgb(0, 0, 0, 0.4);
  }

  .card-icon {
     background: red;
    background: -webkit-linear-gradient(left, rgb(241, 62, 62) , rgb(255, 255, 255), rgb(248, 34, 34), rgb(0, 0, 0), rgb(158, 7, 2), rgb(121, 7, 7));
    background: -o-linear-gradient(right, rgb(241, 62, 62) , rgb(255, 255, 255), rgb(248, 34, 34), rgb(0, 0, 0), rgb(158, 7, 2), rgb(121, 7, 7));
    background: -moz-linear-gradient(right, rgb(241, 62, 62) , rgb(255, 255, 255), rgb(248, 34, 34), rgb(0, 0, 0), rgb(158, 7, 2), rgb(121, 7, 7));
    background: linear-gradient(to right, rgb(241, 62, 62) , rgb(255, 255, 255), rgb(248, 34, 34), rgb(0, 0, 0), rgb(158, 7, 2), rgb(121, 7, 7));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 20px;
  }

.card-title:hover, .service-card-see:hover{
  color: red;
}

.service-card-see {
  margin-top: 20px;
}

.more-services {
  margin-top: 20px;
  width: 200px;
  align-self: center;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: rgb(201, 67, 67);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  font-style: oblique;
  transition: 0.8s;
  color: white;
  
}

.more-services:hover {
  background-color: rgb(250, 170, 170);
  color: black;
}

.testimonials-card-grid {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.testimonials-card {
  display: grid;
  max-width: 300px;
  height: auto;
  padding: 10px;
}

.testimonials-section {
  text-align: center;
  padding: 60px 20px 40px;
  border-bottom-style: solid;
  border-bottom-color: rgb(255, 255, 255);
  margin-left: 20%;
  margin-right: 20%;
  align-items: center;
  border-bottom: 1px solid red;
}

.testimonials-message {
  text-align: justify;
}

.testimonials-writer {
  display: flex;
  margin-top: 5px;
}


.member-pic {
  height: 60px;
  width: 60px;
  border-radius: 40px;
  margin: 10px;
}

.testimonials-name {
  align-content: center;
}

.contact-home {
  padding: 60px 20px 40px;
  border-bottom-style: solid;
  border-bottom-color: rgb(255, 255, 255);
  margin-left: 10%;
  margin-right: 10%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contact-home-div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.contact-title {
  font-size: 30px;
}

.inquiries-message {
  opacity: 0.8;
}

.contact-info {
  display: flex;
  padding: 10px;
  gap: 20px;
}

.phone-icon, .phone-number, .button-contact, .or {
  align-content: center;
  font-size: 20px;
}

.phone-icon {
  background: red;
    background: -webkit-linear-gradient(left, rgb(241, 62, 62) , rgb(255, 255, 255), rgb(248, 34, 34), rgb(0, 0, 0), rgb(158, 7, 2), rgb(121, 7, 7));
    background: -o-linear-gradient(right, rgb(241, 62, 62) , rgb(255, 255, 255), rgb(248, 34, 34), rgb(0, 0, 0), rgb(158, 7, 2), rgb(121, 7, 7));
    background: -moz-linear-gradient(right, rgb(241, 62, 62) , rgb(255, 255, 255), rgb(248, 34, 34), rgb(0, 0, 0), rgb(158, 7, 2), rgb(121, 7, 7));
    background: linear-gradient(to right, rgb(241, 62, 62) , rgb(255, 255, 255), rgb(248, 34, 34), rgb(0, 0, 0), rgb(158, 7, 2), rgb(121, 7, 7));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 20px;
}

.button-contact {
  padding: 20px;
  background-color: red;
}

.features {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 40px 20px;
  flex-wrap: wrap;
}
.feature-box {
  background: rgb(201, 67, 67);
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  text-align: center;
  flex: 1 1 250px;
  max-width: 300px;
  transition: transform 1s;
}

.feature-box:hover {
  transform: scale(1.1); 
  box-shadow: 0 4px 12px rgba(0, 0, 0);
}

.box-icon {
  color: rgb(248, 248, 248);
  font-size: 20px;
  margin-bottom: 20px;
}

.feature-box h4 {
  margin-bottom: 10px;
  color: #2c3e50;
}
footer {
  background: #2c3e50;
  color: #fff;
  text-align: center;
  padding: 20px;
}
